Kernel/TidyAll/Plugin/OTRS/StaticFiles/XSD/Database.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- OTRS schema files -->
    <xs:element name="database">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Table" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableAlter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Insert" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Name" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <!-- OTRS package files (.sopm) -->
    <xs:element name="DatabaseInstall">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="TableCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableAlter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Insert" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Type" use="optional" type="xs:token"/>
            <xs:attribute name="IfPackage" use="optional" type="xs:token"/>
            <xs:attribute name="IfNotPackage" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DatabaseUninstall">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="TableCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableAlter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Insert" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Type" use="optional" type="xs:token"/>
            <xs:attribute name="IfPackage" use="optional" type="xs:token"/>
            <xs:attribute name="IfNotPackage" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DatabaseReinstall">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="TableCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableAlter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Insert" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Type" use="optional" type="xs:token"/>
            <xs:attribute name="IfPackage" use="optional" type="xs:token"/>
            <xs:attribute name="IfNotPackage" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DatabaseUpgrade">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="TableCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableAlter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="TableDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Insert" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Type" use="optional" type="xs:token"/>
            <xs:attribute name="IfPackage" use="optional" type="xs:token"/>
            <xs:attribute name="IfNotPackage" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <!-- Oracle allows table names up to 3 characters only. -->
    <xs:simpleType name="TableName">
        <xs:restriction base="xs:token">
          <xs:maxLength value="30" />
          <xs:pattern value="[a-zA-Z0-9_-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Table">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Column" maxOccurs="unbounded" />
                <xs:element ref="ForeignKey" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Index" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Unique" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Name" use="optional" type="TableName"/>
            <xs:attribute name="Version" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="TableCreate">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Column" maxOccurs="unbounded" />
                <xs:element ref="ForeignKey" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Index" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Unique" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Name" use="optional" type="TableName"/>
            <xs:attribute name="Version" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="TableAlter">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="ColumnAdd" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ColumnChange" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ColumnDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ForeignKeyCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ForeignKeyDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="IndexCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="IndexDrop" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UniqueCreate" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="UniqueDrop" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="Name" use="optional" type="TableName"/>
            <xs:attribute name="NameOld" use="optional" type="xs:token"/>
            <xs:attribute name="NameNew" use="optional" type="xs:token"/>
            <xs:attribute name="Version" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="TableDrop">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" use="required" type="TableName"/>
                    <xs:attribute name="Version" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Columns -->

    <!-- Oracle allows column names up to 3 characters only. -->
    <xs:simpleType name="ColumnName">
        <xs:restriction base="xs:token">
          <xs:maxLength value="30" />
          <xs:pattern value="[a-zA-Z0-9_-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColumnType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="SMALLINT"/>
            <xs:enumeration value="BIGINT"/>
            <xs:enumeration value="INTEGER"/>
            <xs:enumeration value="DECIMAL"/>
            <xs:enumeration value="VARCHAR"/>
            <xs:enumeration value="LONGBLOB"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Column">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Type" use="optional" type="ColumnType"/>
                    <xs:attribute name="AutoIncrement" use="optional" type="xs:token"/>
                    <xs:attribute name="Name" use="required" type="ColumnName"/>
                    <xs:attribute name="Required" use="optional" type="xs:token"/>
                    <xs:attribute name="Size" use="optional" type="xs:token"/>
                    <xs:attribute name="PrimaryKey" use="optional" type="xs:token"/>
                    <xs:attribute name="Default" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ColumnAdd">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Type" use="optional" type="ColumnType"/>
                    <xs:attribute name="AutoIncrement" use="optional" type="xs:token"/>
                    <xs:attribute name="Name" use="required" type="ColumnName"/>
                    <xs:attribute name="Required" use="optional" type="xs:token"/>
                    <xs:attribute name="Size" use="optional" type="xs:token"/>
                    <xs:attribute name="PrimaryKey" use="optional" type="xs:token"/>
                    <xs:attribute name="Default" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ColumnChange">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Type" use="optional" type="ColumnType"/>
                    <xs:attribute name="AutoIncrement" use="optional" type="xs:token"/>
                    <xs:attribute name="PrimaryKey" use="optional" type="xs:token"/>
                    <xs:attribute name="Default" use="optional" type="xs:token"/>
                    <xs:attribute name="NameOld" use="optional" type="ColumnName"/>
                    <xs:attribute name="NameNew" use="optional" type="ColumnName"/>
                    <xs:attribute name="Required" use="optional" type="xs:token"/>
                    <xs:attribute name="Size" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ColumnDrop">
        <xs:complexType>
            <xs:attribute name="Name" use="required" type="ColumnName"/>
        </xs:complexType>
    </xs:element>

    <!-- Foreign Keys -->

    <xs:element name="ForeignKey">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Reference" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="ForeignTable" use="required" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ForeignKeyCreate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Reference" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="ForeignTable" use="required" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ForeignKeyDrop">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Reference" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="ForeignTable" use="required" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Reference">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Local" use="required" type="xs:token"/>
                    <xs:attribute name="Foreign" use="required" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Unique columns -->

    <xs:element name="Unique">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UniqueColumn" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="Name" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="UniqueColumn">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" use="required" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UniqueCreate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UniqueColumn" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="Name" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="UniqueDrop">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" use="required" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Index columns -->

    <xs:element name="Index">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="IndexColumn" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="Name" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="IndexColumn">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" use="required" type="xs:token"/>
                    <xs:attribute name="Size" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="IndexCreate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="IndexColumn" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="Name" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="IndexDrop">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" use="required" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Insert stuff into database -->

    <xs:element name="Insert">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Data" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="Type" use="optional" type="xs:token"/>
            <xs:attribute name="Table" use="required" type="xs:token"/>
            <xs:attribute name="Version" use="optional" type="xs:token"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TranslatableString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Translatable" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="Data">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="TranslatableString">
                    <xs:attribute name="Key" use="optional" type="xs:token"/>
                    <xs:attribute name="Type" use="optional" type="xs:token"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
