TidyAll/Plugin/OTRS/StaticFiles/XSD/Configuration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xs:element name="otrs_config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Git" minOccurs="0" type="xs:string" />
                <xs:element ref="ConfigItem" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="version" use="required" type="xs:string"/>
            <xs:attribute name="init" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Framework"/>
                        <xs:enumeration value="Application"/>
                        <xs:enumeration value="Config"/>
                        <xs:enumeration value="Changes"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConfigItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Description" type="TranslatableString" />
                <xs:element name="Group" type="xs:string" />
                <xs:element name="SubGroup" type="xs:string" />
                <xs:element name="ValidateModule" type="xs:string" minOccurs="0" />
                <xs:element ref="Setting"/>
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:string"/>
            <xs:attribute name="Valid" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Required" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ConfigLevel" use="optional" type="xs:int"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TranslatableString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Translatable" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="Setting">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="String"/>
                <xs:element ref="Option"/>
                <xs:element ref="Hash"/>
                <xs:element ref="Array"/>
                <xs:element ref="TextArea"/>
                <xs:element ref="TimeVacationDays"/>
                <xs:element ref="TimeVacationDaysOneTime"/>
                <xs:element ref="TimeWorkingHours"/>
                <xs:element ref="FrontendModuleReg"/>
                <xs:element ref="DateTime"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="String">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="TranslatableString">
                    <xs:attribute name="Regex" use="optional" type="xs:anySimpleType"/>
                    <xs:attribute name="Type" use="optional" type="xs:anySimpleType"/>
                    <xs:attribute name="Check" use="optional" type="xs:anySimpleType"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Option">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="TranslatableString">
                                <xs:attribute name="Key" use="required" type="xs:anySimpleType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="SelectedID" use="optional" type="xs:anySimpleType"/>
            <xs:attribute name="Location" use="optional" type="xs:anySimpleType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Hash">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:choice minOccurs="0">
                            <xs:element ref="Hash"/>
                            <xs:element ref="Array"/>
                        </xs:choice>
                        <xs:attribute name="Key" use="required" type="xs:anySimpleType"/>
                        <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="SelectedID" use="optional" type="xs:anySimpleType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Array">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="SelectedID" use="optional" type="xs:anySimpleType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="TextArea">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="TimeVacationDays">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Month" use="required" type="xs:anySimpleType"/>
                                <xs:attribute name="Day" use="required" type="xs:anySimpleType"/>
                                <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TimeVacationDaysOneTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="Year" use="required" type="xs:anySimpleType"/>
                                <xs:attribute name="Month" use="required" type="xs:anySimpleType"/>
                                <xs:attribute name="Day" use="required" type="xs:anySimpleType"/>
                                <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TimeWorkingHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Day" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="Hour" minOccurs="0" maxOccurs="unbounded" type="xs:integer"/>
                        </xs:sequence>
                        <xs:attribute name="Name" use="required" type="xs:anySimpleType"/>
                        <xs:attribute name="Translatable" use="optional" type="xs:anySimpleType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DateTime">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="TranslatableString">
                    <xs:attribute name="Type" use="optional" type="xs:anySimpleType"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="FrontendModuleReg">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="GroupRo" type="xs:string" />
                    <xs:element name="Group" type="xs:string"/>
                    <xs:element name="Description" type="TranslatableString" />
                    <xs:element name="Title" type="TranslatableString"/>
                    <xs:element name="NavBarName" type="xs:string"/>
                </xs:choice>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="NavBar">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                    <xs:element name="GroupRo" type="xs:string" />
                                    <xs:element name="Group" type="xs:string"/>
                                    <xs:element name="Description" type="TranslatableString" />
                                    <xs:element name="Name" type="TranslatableString" />
                                    <xs:element name="Link" type="xs:string" />
                                    <xs:element name="LinkOption" type="xs:string" />
                                    <xs:element name="NavBar" type="xs:string"/>
                                    <xs:element name="Type" type="xs:string"/>
                                    <xs:element name="Block" type="xs:string"/>
                                    <xs:element name="AccessKey" type="xs:string"/>
                                    <xs:element name="Prio" type="xs:string"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="NavBarModule">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice minOccurs="1" maxOccurs="unbounded">
                                    <xs:element name="GroupRo" type="xs:string" />
                                    <xs:element name="Group" type="xs:string"/>
                                    <xs:element name="Description" type="TranslatableString" />
                                    <xs:element name="Name" type="TranslatableString" />
                                    <xs:element name="Module" type="xs:string"/>
                                    <xs:element name="Block" type="xs:string"/>
                                    <xs:element name="Prio" type="xs:string"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Loader">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice minOccurs="0" maxOccurs="unbounded" >
                                    <xs:element name="CSS" type="xs:string"/>
                                    <xs:element name="CSS_IE8" type="xs:string" />
                                    <xs:element name="CSS_IE7" type="xs:string" />
                                    <xs:element name="JavaScript" type="xs:string" />
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
